<div class="rounded-xl border p-5 w-96 mx-auto shadow-md bg-gradient-to-r from-slate-200 to-slate-50">
<h1 class="text-center font-bold font-xl">Editing User</h1>

<div class="flex justify-center align-center mt-5">
<%= render 'form', user: @user %>
</div>

<div class="flex justify-center align-center mt-8">
<%= button_to 'Back', users_path, class: "btn btn-error btn-outline btn-xs", method: :get %> |    
<%= button_to 'Show', @user, class: "btn btn-secondary btn-outline btn-xs", method: :get %>
</div>
</div>