<div class="rounded-xl border p-5 w-96 mx-auto shadow-md bg-gradient-to-r from-slate-200 to-slate-50">
<h1 class="text-center font-bold font-xl">Editing Attendance Record</h1>

<div class="flex justify-center align-center mt-5">
<%= render 'form', attendance_record: @attendance_record %>
</div>

<div class="flex justify-center align-center mt-8">
<%= button_to 'Back', attendance_records_path, class: "btn btn-error btn-outline btn-xs", method: :get %> |    
<%= button_to 'Show', @attendance_record, class: "btn btn-secondary btn-outline btn-xs", method: :get %>
</div>
</div>